[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/palomino/Bureau/WinXPLicenseKeys.txt]
row=1
col=3

[/home/palomino/Bureau/ThePrimeagen_Books.txt]
row=6
col=1

[/home/palomino/Bureau/CypressRWATestUseCases.md]
row=4
col=2

[/home/palomino/Bureau/windows98-productkey.jpg]
row=5
col=3

[/home/palomino/Bureau/certif.sh]
row=5
col=0

[/home/palomino/Bureau/sketch.json]
row=4
col=1

[/home/palomino/Bureau/reprendre_prog.ora]
row=1
col=1

[/home/palomino/Bureau/CV_Experiences.txt]
row=4
col=3

[/home/palomino/Bureau/links_saved.txt]
row=6
col=2

[/home/palomino/Bureau/Jira_Test_Sample.md]
row=0
col=2

[/home/palomino/Bureau/Mastering Django Core by Nigel George (z-lib.org).pdf]
row=3
col=3

[/home/palomino/Bureau/StartOpenSUSE.sh]
row=5
col=1

[/home/palomino/Bureau/1617429802778.jpeg]
row=2
col=2

[/home/palomino/Bureau/reproduire_ca_en_c.png]
row=2
col=1

[/home/palomino/Bureau/cheatsheet-emmet-emacs.pdf]
row=6
col=0

[/home/palomino/Bureau/CypressRWASynthesis.md]
row=3
col=2

[/home/palomino/Bureau/heuristis_test_strategy_model.pdf]
row=2
col=3

[/home/palomino/Bureau/localhost-1627933194528.log]
row=1
col=2

[/home/palomino/Bureau/cyrilparodi-git]
row=3
col=0

[/home/palomino/Bureau/site.todo]
row=3
col=1

[/home/palomino/Bureau/novices-LateX.pdf]
row=5
col=2

[/home/palomino/Bureau/perso_backup.sh]
row=0
col=1

[/home/palomino/Bureau/cyrilparodi-git-data]
row=4
col=0

[/home/palomino/Bureau/exclude]
row=0
col=3

[Corbeille]
row=0
col=0

[/]
row=2
col=0

[/home/palomino]
row=1
col=0

